@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$min-color: #bababa;
$max-color: #878787;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.main-app-container {
  padding-top: 2em;
  padding: 30px;
}

.main-app-nav {
  font-size: 2em;
  text-align: center;
}

.weather-city-label {
  color: $accent-orange;
  font-size: 2.5em;
  text-align: left;
  width: 100%;
}

.counter-even-label {
  padding-top: 1em;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.temperature {
  font-size: 2.5em;
  text-align: center;
}

.weather {
  .input-field {
    margin-top: 0;
  }
}

.extraDetails{
  .details{
    color: $max-color;
    font-size: 0.6em;
  }
}

.weekList {
  .weekDay{
    height: 200px;
    text-align: center;
    
    .min{
      color: $min-color;
      margin-bottom: 5px;
    }

    .max{
      color: $max-color;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}

.collection{
  a.collection-item {
    padding: 15px;
  }
}

footer {
  font-size: 0.75em;
  text-align: center;
  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }
}

.details{
  color: $max-color;
  font-size: 0.8em;
}
